#### 문자열에서 제공하는 내장 함수
- upper() : 문자열을 모두 대문자로 변경
- lower() : 문자열을 모두 소문자로 변경
- swapcase() : 대문자를 소문자로 소문자를 대문자로 변경
- title() : 단어의 첫글자만 대문자로 변경
- strip() : 기본적으로는 문자열의 시작과 끝에 존재하는 공백을 제거
    - rstrip() : 문자열의 끝의 공백을 제거
    - lstrip() : 문자열의 시작의 공백을 제거
- replace() : 특정 문자를 찾아서 다른 문자로 치환
- split() : 특정 문자를 찾아서 문자를 잘라주는 기능 -> 결과 list

In [41]:
text_a = 'Apple'
text_b = 'apple'

In [42]:
text_a == text_b

False

In [43]:
# text_a와 text_b를 비교했을 때 같다 라는 결과를 만들려면
# 두개의 데이터의 형태를 같게 만든다.

# text_a.upper()
#'문자열' '안에있는' upper 함수
# 앞에있는 문자열을 바꿔줌
# 함수만 썼을 때 출력이 됐으므로 text_a는 안바뀜

text_a = text_a.upper()
# 제대로 실행은 됐는데 뭐가 안나옴 -> 메모리 상의 데이터가 변함

In [44]:
text_b = text_b.upper()

In [45]:
text_a == text_b

True

In [46]:
text_c = '  Hello, world  '
text_c.lower()

'  hello, world  '

In [47]:
# 좌우에 공백있는 str
text_c == 'Hello, world'

False

In [48]:
text_c.lstrip()

'Hello, world  '

In [49]:
text_c.swapcase()

'  hELLO, WORLD  '

In [50]:
text_c.title()

'  Hello, World  '

In [51]:
text_c.split()

['Hello,', 'world']

In [52]:
text_c.split(',')

['  Hello', ' world  ']

In [53]:
text_c.replace('Hello', 'Hi')

'  Hi, world  '

In [54]:
print(text_c.strip())
print(text_c.lstrip())
#print 사용하면 헷갈림

Hello, world
Hello, world

In [55]:
# 문자열을 숫자형으로 변환
# 금액을 숫자로 변경하여 계산
price_1 = '$10.00'
price_2 = '$20.00'

In [56]:
price_1 + price_2

'$10.00$20.00'

In [57]:
# error : '$'를 숫자로 변경이 불가능하기 때문에
# float(price_1)

In [58]:
price_1.strip('$')

'10.00'

In [59]:
price_1 = float(price_1.strip('$'))
price_2 = float(price_2.strip('$'))
# price_2
price_1 + price_2

30.0

In [60]:
price_2 = int(price_2)
type(price_2)

int

In [61]:
price_3 = '1,000원'
price_4 = '3,000원'

In [62]:
#문자열 마지막의 '원'문자를 제거
# int(price_3.rstrip('원'))
# ','도 특수문자이므로 error

In [63]:
# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도
# 문자열 사이에 있는 문자를 변경 X
# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거

int(price_3.replace(',', '').rstrip('원'))

1000

In [64]:
item_1 = '상품A'
item_2 = '상품a'
item_3 = '상 품 a'

In [65]:
(item_1 == item_2) and (item_2 == item_3)

False

In [66]:
# item_1을 기준으로 item_2, item_3 데이터를 변경
# item_2 = ~ 작성하기 전에, 원하는대로 upper() 잘 되는지 확인되는지 확인 하고 변수에 넣기
item_2 = item_2.upper()

In [67]:
item_3 = item_3.upper()

In [68]:
item_3 = item_3.replace(' ', '')

In [69]:
(item_1 == item_2) and (item_2 == item_3)

True

In [70]:
# 문자열을 나눠주는 함수 -> split
# 공백을 기준으로 문자를 나눠주는 함수
# 인자로 특정 문자를 입력하면 특정 문자로 문자를 나눠준다
text_1 = 'a b c d'
text_1.split()

['a', 'b', 'c', 'd']

In [71]:
text_2 = 'ammbmmc'
text_2.split('mm')

['a', 'b', 'c']

In [72]:
# sql query문
query_1 = "select * from table"
query_2 = "SELECT * FROM table"
query_3 = """
    INSERT INTO
    table
    VALUES
    ('a')
"""
query_4 = '''
    select
    *
    from
    table
'''

In [73]:
#query가 select문인가?
find_word = 'select'
query_1[ 0 : len(find_word) ] == find_word

True

In [74]:
query_2[:len(find_word)].lower() == find_word

True

In [75]:
query_1.lstrip()[ : len(find_word) ] == find_word

True

In [76]:
query_4.split()[0] == find_word

True

In [77]:
query_4.split()[0] == find_word

True

In [78]:
query_2.split()[0].lower() == find_word

True

In [81]:
query_2.lower().startswith(find_word)

True

In [83]:
query_4.lstrip().startswith(find_word)

True

In [84]:
query_3.lstrip().startswith(find_word)

False

In [85]:
file_list = [
    "/csv/a.csv",
    "/csv/b.txt",
    "/csv/c.csv",
    "/csv/d.json"
]

In [86]:
# file_list에서 확장자가 csv인 목록만 출력하자
# 방법1

file_csv = []
for i in range(len(file_list)):
    # 이때 i에 들어오는 데이터의 의미: index
    if file_list[i].endswith('csv') == True:
        file_csv.append(file_list[i])
file_csv

['/csv/a.csv', '/csv/c.csv']

In [87]:
#방법2
# range를 쓸때는 보통 i를 쓰고, list에서 가져올 때는 다른 변수명 사용하면 명확함
file_csv_2 = []
for name in file_list:
    # 이때 i에 들어오는 데이터: 문자열
    if name.endswith('csv') == True:
        file_csv_2.append(name)
file_csv_2

['/csv/a.csv', '/csv/c.csv']

In [88]:
# 함수
# 특정한 행동을 코드로 표현하고 이름 붙이는 작업
# 특정 입력값을 통해서 연산을 하고 결과를 되돌려주는 작업
# python에서 def 키워드를 이용해서 함수를 생성
def func_1():
    #결과 되돌려준다
    return "Hello"

def func_2():
    print('Hello')

In [89]:
res_1 = func_1()

In [90]:
res_2 = func_2()

Hello

In [91]:
res_1

'Hello'

In [92]:
res_2

In [93]:
# 매개변수가 존재하지 않는 함수에 입력값을 사용해서 호출 한다면?
# 입력값을 저장할 수 있는 공간이 존재하지 않기 때문에 에러가 발생
# func_1('a')

In [94]:
# 매개변수가 존재하는 함수 생성
def func_3(a, b):
    c = a + b
    return c

In [95]:
func_3(10, 5)
# a = 10
# b = 5
# c = 10 + 5
# c를 되돌려준다.

15

In [96]:
# 매개변수가 2개인 함수를 호출하면서 인자를 1개만 입력하는 경우?
# 데이터가 입력되는 공간이 2개인데 데이터는 1개만 입력하면 나머지 하나의 공간에 데이터가 없으므로 에러
# func_3(10)

In [97]:
# print() : 입력 데이터를 출력하는 기능
print('a', 'b', 'c')

a b c

In [98]:
# sep 매개변수에 입력 데이터를 대입하려면 매개변수명 = data
# 첫번째 매개변수가 가변의 인자를 받는 형태이기때문에
print('a', 'b', 'c', sep = '\n')


# print 함수 위에 마우스 대면 나오는 정보들 - 매개변수 정보 확인
# 매개 변수 바꿀 수 있음
# 이미 '='로 되어있는건 따로 설정 안 했을 때 기본값
# '=' 없는 매개변수는 필수로 넣어주어야하는 부분
# sep은 문자 사이에 뭘 넣을건지.

a
b
c

In [99]:
def func_4(a, b = 5):
    # 매개변수는 2개 a, b
    # a는 함수를 호출할 때 필수 입력 공간
    # b는 선택 입력 공간
    c = a ** b
    return c

In [100]:
func_4(2)
# a = 2
# b = 5
# c = 2 ** 5
# 32를 되돌려준다

32

In [101]:
func_4(2,4)
# a = 2
# b = 5
# b = 4
# c = 2 ** 4
# 16을 되돌려준다.

16

### 변수의 종류
- 컴퓨터의 메모리에 데이터가 저장되는 공간에 이름을 붙이는 작업

    - 전역 변수
        - 전역의 의미 -> 모든 영역
        - 해당하는 파일 안에서 어디서든 사용이 가능한 변수
        - globals() 함수를 호출하면 전역 변수의 목록이 확인 가능
        

    - 지역 변수
        - 지역의 의미 -> 특정 영역
        - 함수나 클래스 안에서만 사용이 가능한 변수
        - 함수에서 값을 되돌려주는 행동(return) 뒤에는 함수에서 사용된 변수들은 외부에서는 사용이 불가능

In [102]:
# 모든 영역에서 사용할 수 있는 변수의 목록 확인
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  '# func_7() 함수를 호출하는데 입력 데이터가 리스트인 경우\n# 인자에 *를 쓰는 경우\nfunc_7(*[2, 3, 4])',
  "text_a = 'Apple'\ntext_b = 'apple'",
  'text_a == text_b',
  "# text_a와 text_b를 비교했을 때 같다 라는 결과를 만들려면\n# 두개의 데이터의 형태를 같게 만든다.\n\n# text_a.upper()\n#'문자열' '안에있는' upper 함수\n# 앞에있는 문자열을 바꿔줌\n# 함수만 썼을 때 출력이 됐으므로 text_a는 안바뀜\n\ntext_a = text_a.upper()\n# 제대로 실행은 됐는데 뭐가 안나옴 -> 메모리 상의 데이터가 변함",
  'text_b = text_b.upper()',
  'text_a == text_b',
  "text_c = '  Hello, world  '\ntext_c.lower()",
  "# 좌우에 공백있는 str\ntext_c == 'Hello, world'",
  'text_c.lstrip()',
  'text_c.swapcase()',
  'text_c.title()',
  'text_c.split()',
  "text_c.split(',')",
  "text_c.replace('Hello', 'Hi')",
  'print(text_c.strip())\nprint(text_c.lstrip())\n#print 사용하면 헷갈림',
  "# 문자열을 숫자형으로 변환\n# 금액을 숫자로 변경하여 계산\nprice_1 = '$10.00'\nprice_2 = '$20.00'",
  'price_1 + price_2',
  "# error : '$'를 숫자로 변경이 불가능하기 때문에\n# float(price_1)",
  "price_1.strip('$')",
  "price_1 = float(price_1.strip('$'))\nprice_2 = float(price_2.strip('$'))\n# price_2\nprice_1 + price_2",
  'price_2 = int(price_2)\ntype(price_2)',
  "price_3 = '1,000원'\nprice_4 = '3,000원'",
  "#문자열 마지막의 '원'문자를 제거\n# int(price_3.rstrip('원'))\n# ','도 특수문자이므로 error",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n\nint(price_3.replace(',', '').rstrip('원'))",
  "item_1 = '상품A'\nitem_2 = '상품a'\nitem_3 = '상 품 a'",
  '(item_1 == item_2) and (item_2 == item_3)',
  '# item_1을 기준으로 item_2, item_3 데이터를 변경\n# item_2 = ~ 작성하기 전에, 원하는대로 upper() 잘 되는지 확인되는지 확인 하고 변수에 넣기\nitem_2 = item_2.upper()',
  'item_3 = item_3.upper()',
  "item_3 = item_3.replace(' ', '')",
  '(item_1 == item_2) and (item_2 == item_3)',
  "# 문자열을 나눠주는 함수 -> split\n# 공백을 기준으로 문자를 나눠주는 함수\n# 인자로 특정 문자를 입력하면 특정 문자로 문자를 나눠준다\ntext_1 = 'a b c d'\ntext_1.split()",
  "text_2 = 'ammbmmc'\ntext_2.split('mm')",
  '# sql query문\nquery_1 = "select * from table"\nquery_2 = "SELECT * FROM table"\nquery_3 = """\n    INSERT INTO\n    table\n    VALUES\n    (\'a\')\n"""\nquery_4 = \'\'\'\n    select\n    *\n    from\n    table\n\'\'\'',
  "#query가 select문인가?\nfind_word = 'select'\nquery_1[ 0 : len(find_word) ] == find_word",
  'query_2[:len(find_word)].lower() == find_word',
  'query_1.lstrip()[ : len(find_word) ] == find_word',
  'query_4.split()[0] == find_word',
  'query_4.split()[0] == find_word',
  'query_2.split()[0].lower() == find_word',
  'query_1.(find_word)',
  "text_a = 'Apple'\ntext_b = 'apple'",
  'text_a == text_b',
  "# text_a와 text_b를 비교했을 때 같다 라는 결과를 만들려면\n# 두개의 데이터의 형태를 같게 만든다.\n\n# text_a.upper()\n#'문자열' '안에있는' upper 함수\n# 앞에있는 문자열을 바꿔줌\n# 함수만 썼을 때 출력이 됐으므로 text_a는 안바뀜\n\ntext_a = text_a.upper()\n# 제대로 실행은 됐는데 뭐가 안나옴 -> 메모리 상의 데이터가 변함",
  'text_b = text_b.upper()',
  'text_a == text_b',
  "text_c = '  Hello, world  '\ntext_c.lower()",
  "# 좌우에 공백있는 str\ntext_c == 'Hello, world'",
  'text_c.lstrip()',
  'text_c.swapcase()',
  'text_c.title()',
  'text_c.split()',
  "text_c.split(',')",
  "text_c.replace('Hello', 'Hi')",
  'print(text_c.strip())\nprint(text_c.lstrip())\n#print 사용하면 헷갈림',
  "# 문자열을 숫자형으로 변환\n# 금액을 숫자로 변경하여 계산\nprice_1 = '$10.00'\nprice_2 = '$20.00'",
  'price_1 + price_2',
  "# error : '$'를 숫자로 변경이 불가능하기 때문에\n# float(price_1)",
  "price_1.strip('$')",
  "price_1 = float(price_1.strip('$'))\nprice_2 = float(price_2.strip('$'))\n# price_2\nprice_1 + price_2",
  'price_2 = int(price_2)\ntype(price_2)',
  "price_3 = '1,000원'\nprice_4 = '3,000원'",
  "#문자열 마지막의 '원'문자를 제거\n# int(price_3.rstrip('원'))\n# ','도 특수문자이므로 error",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n\nint(price_3.replace(',', '').rstrip('원'))",
  "item_1 = '상품A'\nitem_2 = '상품a'\nitem_3 = '상 품 a'",
  '(item_1 == item_2) and (item_2 == item_3)',
  '# item_1을 기준으로 item_2, item_3 데이터를 변경\n# item_2 = ~ 작성하기 전에, 원하는대로 upper() 잘 되는지 확인되는지 확인 하고 변수에 넣기\nitem_2 = item_2.upper()',
  'item_3 = item_3.upper()',
  "item_3 = item_3.replace(' ', '')",
  '(item_1 == item_2) and (item_2 == item_3)',
  "# 문자열을 나눠주는 함수 -> split\n# 공백을 기준으로 문자를 나눠주는 함수\n# 인자로 특정 문자를 입력하면 특정 문자로 문자를 나눠준다\ntext_1 = 'a b c d'\ntext_1.split()",
  "text_2 = 'ammbmmc'\ntext_2.split('mm')",
  '# sql query문\nquery_1 = "select * from table"\nquery_2 = "SELECT * FROM table"\nquery_3 = """\n    INSERT INTO\n    table\n    VALUES\n    (\'a\')\n"""\nquery_4 = \'\'\'\n    select\n    *\n    from\n    table\n\'\'\'',
  "#query가 select문인가?\nfind_word = 'select'\nquery_1[ 0 : len(find_word) ] == find_word",
  'query_2[:len(find_word)].lower() == find_word',
  'query_1.lstrip()[ : len(find_word) ] == find_word',
  'query_4.split()[0] == find_word',
  'query_4.split()[0] == find_word',
  'query_2.split()[0].lower() == find_word',
  'query_1.(find_word)',
  'query_1(find_word)',
  'query_2.lower().startswith(find_word)',
  'query_4.lstrip().startswith(find_word)',
  'query_4.lstrip().startswith(find_word)',
  'query_3.lstrip().startswith(find_word)',
  'file_list = [\n    "/csv/a.csv",\n    "/csv/b.txt",\n    "/csv/c.csv",\n    "/csv/d.json"\n]',
  "# file_list에서 확장자가 csv인 목록만 출력하자\n# 방법1\n\nfile_csv = []\nfor i in range(len(file_list)):\n    # 이때 i에 들어오는 데이터의 의미: index\n    if file_list[i].endswith('csv') == True:\n        file_csv.append(file_list[i])\nfile_csv",
  "#방법2\n# range를 쓸때는 보통 i를 쓰고, list에서 가져올 때는 다른 변수명 사용하면 명확함\nfile_csv_2 = []\nfor name in file_list:\n    # 이때 i에 들어오는 데이터: 문자열\n    if name.endswith('csv') == True:\n        file_csv_2.append(name)\nfile_csv_2",
  '# 함수\n# 특정한 행동을 코드로 표현하고 이름 붙이는 작업\n# 특정 입력값을 통해서 연산을 하고 결과를 되돌려주는 작업\n# python에서 def 키워드를 이용해서 함수를 생성\ndef func_1():\n    #결과 되돌려준다\n    return "Hello"\n\ndef func_2():\n    print(\'Hello\')',
  'res_1 = func_1()',
  'res_2 = func_2()',
  'res_1',
  'res_2',
  "# 매개변수가 존재하지 않는 함수에 입력값을 사용해서 호출 한다면?\n# 입력값을 저장할 수 있는 공간이 존재하지 않기 때문에 에러가 발생\n# func_1('a')",
  '# 매개변수가 존재하는 함수 생성\ndef func_3(a, b):\n    c = a + b\n    return c',
  'func_3(10, 5)\n# a = 10\n# b = 5\n# c = 10 + 5\n# c를 되돌려준다.',
  '# 매개변수가 2개인 함수를 호출하면서 인자를 1개만 입력하는 경우?\n# 데이터가 입력되는 공간이 2개인데 데이터는 1개만 입력하면 나머지 하나의 공간에 데이터가 없으므로 에러\n# func_3(10)',
  "# print() : 입력 데이터를 출력하는 기능\nprint('a', 'b', 'c')",
  "# sep 매개변수에 입력 데이터를 대입하려면 매개변수명 = data\n# 첫번째 매개변수가 가변의 인자를 받는 형태이기때문에\nprint('a', 'b', 'c', sep = '\\n')\n\n\n# print 함수 위에 마우스 대면 나오는 정보들 - 매개변수 정보 확인\n# 매개 변수 바꿀 수 있음\n# 이미 '='로 되어있는건 따로 설정 안 했을 때 기본값\n# '=' 없는 매개변수는 필수로 넣어주어야하는 부분\n# sep은 문자 사이에 뭘 넣을건지.",
  'def func_4(a, b = 5):\n    # 매개변수는 2개 a, b\n    # a는 함수를 호출할 때 필수 입력 공간\n    # b는 선택 입력 공간\n    c = a ** b\n    return c',
  'func_4(2)\n# a = 2\n# b = 5\n# c = 2 ** 5\n# 32를 되돌려준다',
  'func_4(2,4)\n# a = 2\n# b = 5\n# b = 4\n# c = 2 ** 4\n# 16을 되돌려준다.',
  '# 모든 영역에서 사용할 수 있는 변수의 목록 확인\nglobals()'],
 '_oh': {3: False,
  6: True,
  7: '  hello, world  ',
  8: False,
  9: 'Hello, world  ',
  10: '  hELLO, WORLD  ',
  11: '  Hello, World  ',
  12: ['Hello,', 'world'],
  13: ['  Hello', ' world  '],
  14: '  Hi, world  ',
  17: '$10.00$20.00',
  19: '10.00',
  20: 30.0,
  21: int,
  24: 1000,
  26: False,
  30: True,
  31: ['a', 'b', 'c', 'd'],
  32: ['a', 'b', 'c'],
  34: True,
  35: True,
  36: True,
  37: True,
  38: True,
  39: True,
  42: False,
  45: True,
  46: '  hello, world  ',
  47: False,
  48: 'Hello, world  ',
  49: '  hELLO, WORLD  ',
  50: '  Hello, World  ',
  51: ['Hello,', 'world'],
  52: ['  Hello', ' world  '],
  53: '  Hi, world  ',
  56: '$10.00$20.00',
  58: '10.00',
  59: 30.0,
  60: int,
  63: 1000,
  65: False,
  69: True,
  70: ['a', 'b', 'c', 'd'],
  71: ['a', 'b', 'c'],
  73: True,
  74: True,
  75: True,
  76: True,
  77: True,
  78: True,
  81: True,
  82: True,
  83: True,
  84: False,
  86: ['/csv/a.csv', '/csv/c.csv'],
  87: ['/csv/a.csv', '/csv/c.csv'],
  91: 'Hello',
  95: 15,
  100: 32,
  101: 16},
 '_dh': [PosixPath('/Users/eunseo/Documents/data_boot/lecture/code/week1'),
  PosixPath('/Users/eunseo/Documents/data_boot/lecture/code/week1')],
 'In': ['',
  '# func_7() 함수를 호출하는데 입력 데이터가 리스트인 경우\n# 인자에 *를 쓰는 경우\nfunc_7(*[2, 3, 4])',
  "text_a = 'Apple'\ntext_b = 'apple'",
  'text_a == text_b',
  "# text_a와 text_b를 비교했을 때 같다 라는 결과를 만들려면\n# 두개의 데이터의 형태를 같게 만든다.\n\n# text_a.upper()\n#'문자열' '안에있는' upper 함수\n# 앞에있는 문자열을 바꿔줌\n# 함수만 썼을 때 출력이 됐으므로 text_a는 안바뀜\n\ntext_a = text_a.upper()\n# 제대로 실행은 됐는데 뭐가 안나옴 -> 메모리 상의 데이터가 변함",
  'text_b = text_b.upper()',
  'text_a == text_b',
  "text_c = '  Hello, world  '\ntext_c.lower()",
  "# 좌우에 공백있는 str\ntext_c == 'Hello, world'",
  'text_c.lstrip()',
  'text_c.swapcase()',
  'text_c.title()',
  'text_c.split()',
  "text_c.split(',')",
  "text_c.replace('Hello', 'Hi')",
  'print(text_c.strip())\nprint(text_c.lstrip())\n#print 사용하면 헷갈림',
  "# 문자열을 숫자형으로 변환\n# 금액을 숫자로 변경하여 계산\nprice_1 = '$10.00'\nprice_2 = '$20.00'",
  'price_1 + price_2',
  "# error : '$'를 숫자로 변경이 불가능하기 때문에\n# float(price_1)",
  "price_1.strip('$')",
  "price_1 = float(price_1.strip('$'))\nprice_2 = float(price_2.strip('$'))\n# price_2\nprice_1 + price_2",
  'price_2 = int(price_2)\ntype(price_2)',
  "price_3 = '1,000원'\nprice_4 = '3,000원'",
  "#문자열 마지막의 '원'문자를 제거\n# int(price_3.rstrip('원'))\n# ','도 특수문자이므로 error",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n\nint(price_3.replace(',', '').rstrip('원'))",
  "item_1 = '상품A'\nitem_2 = '상품a'\nitem_3 = '상 품 a'",
  '(item_1 == item_2) and (item_2 == item_3)',
  '# item_1을 기준으로 item_2, item_3 데이터를 변경\n# item_2 = ~ 작성하기 전에, 원하는대로 upper() 잘 되는지 확인되는지 확인 하고 변수에 넣기\nitem_2 = item_2.upper()',
  'item_3 = item_3.upper()',
  "item_3 = item_3.replace(' ', '')",
  '(item_1 == item_2) and (item_2 == item_3)',
  "# 문자열을 나눠주는 함수 -> split\n# 공백을 기준으로 문자를 나눠주는 함수\n# 인자로 특정 문자를 입력하면 특정 문자로 문자를 나눠준다\ntext_1 = 'a b c d'\ntext_1.split()",
  "text_2 = 'ammbmmc'\ntext_2.split('mm')",
  '# sql query문\nquery_1 = "select * from table"\nquery_2 = "SELECT * FROM table"\nquery_3 = """\n    INSERT INTO\n    table\n    VALUES\n    (\'a\')\n"""\nquery_4 = \'\'\'\n    select\n    *\n    from\n    table\n\'\'\'',
  "#query가 select문인가?\nfind_word = 'select'\nquery_1[ 0 : len(find_word) ] == find_word",
  'query_2[:len(find_word)].lower() == find_word',
  'query_1.lstrip()[ : len(find_word) ] == find_word',
  'query_4.split()[0] == find_word',
  'query_4.split()[0] == find_word',
  'query_2.split()[0].lower() == find_word',
  'query_1.(find_word)',
  "text_a = 'Apple'\ntext_b = 'apple'",
  'text_a == text_b',
  "# text_a와 text_b를 비교했을 때 같다 라는 결과를 만들려면\n# 두개의 데이터의 형태를 같게 만든다.\n\n# text_a.upper()\n#'문자열' '안에있는' upper 함수\n# 앞에있는 문자열을 바꿔줌\n# 함수만 썼을 때 출력이 됐으므로 text_a는 안바뀜\n\ntext_a = text_a.upper()\n# 제대로 실행은 됐는데 뭐가 안나옴 -> 메모리 상의 데이터가 변함",
  'text_b = text_b.upper()',
  'text_a == text_b',
  "text_c = '  Hello, world  '\ntext_c.lower()",
  "# 좌우에 공백있는 str\ntext_c == 'Hello, world'",
  'text_c.lstrip()',
  'text_c.swapcase()',
  'text_c.title()',
  'text_c.split()',
  "text_c.split(',')",
  "text_c.replace('Hello', 'Hi')",
  'print(text_c.strip())\nprint(text_c.lstrip())\n#print 사용하면 헷갈림',
  "# 문자열을 숫자형으로 변환\n# 금액을 숫자로 변경하여 계산\nprice_1 = '$10.00'\nprice_2 = '$20.00'",
  'price_1 + price_2',
  "# error : '$'를 숫자로 변경이 불가능하기 때문에\n# float(price_1)",
  "price_1.strip('$')",
  "price_1 = float(price_1.strip('$'))\nprice_2 = float(price_2.strip('$'))\n# price_2\nprice_1 + price_2",
  'price_2 = int(price_2)\ntype(price_2)',
  "price_3 = '1,000원'\nprice_4 = '3,000원'",
  "#문자열 마지막의 '원'문자를 제거\n# int(price_3.rstrip('원'))\n# ','도 특수문자이므로 error",
  "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n\nint(price_3.replace(',', '').rstrip('원'))",
  "item_1 = '상품A'\nitem_2 = '상품a'\nitem_3 = '상 품 a'",
  '(item_1 == item_2) and (item_2 == item_3)',
  '# item_1을 기준으로 item_2, item_3 데이터를 변경\n# item_2 = ~ 작성하기 전에, 원하는대로 upper() 잘 되는지 확인되는지 확인 하고 변수에 넣기\nitem_2 = item_2.upper()',
  'item_3 = item_3.upper()',
  "item_3 = item_3.replace(' ', '')",
  '(item_1 == item_2) and (item_2 == item_3)',
  "# 문자열을 나눠주는 함수 -> split\n# 공백을 기준으로 문자를 나눠주는 함수\n# 인자로 특정 문자를 입력하면 특정 문자로 문자를 나눠준다\ntext_1 = 'a b c d'\ntext_1.split()",
  "text_2 = 'ammbmmc'\ntext_2.split('mm')",
  '# sql query문\nquery_1 = "select * from table"\nquery_2 = "SELECT * FROM table"\nquery_3 = """\n    INSERT INTO\n    table\n    VALUES\n    (\'a\')\n"""\nquery_4 = \'\'\'\n    select\n    *\n    from\n    table\n\'\'\'',
  "#query가 select문인가?\nfind_word = 'select'\nquery_1[ 0 : len(find_word) ] == find_word",
  'query_2[:len(find_word)].lower() == find_word',
  'query_1.lstrip()[ : len(find_word) ] == find_word',
  'query_4.split()[0] == find_word',
  'query_4.split()[0] == find_word',
  'query_2.split()[0].lower() == find_word',
  'query_1.(find_word)',
  'query_1(find_word)',
  'query_2.lower().startswith(find_word)',
  'query_4.lstrip().startswith(find_word)',
  'query_4.lstrip().startswith(find_word)',
  'query_3.lstrip().startswith(find_word)',
  'file_list = [\n    "/csv/a.csv",\n    "/csv/b.txt",\n    "/csv/c.csv",\n    "/csv/d.json"\n]',
  "# file_list에서 확장자가 csv인 목록만 출력하자\n# 방법1\n\nfile_csv = []\nfor i in range(len(file_list)):\n    # 이때 i에 들어오는 데이터의 의미: index\n    if file_list[i].endswith('csv') == True:\n        file_csv.append(file_list[i])\nfile_csv",
  "#방법2\n# range를 쓸때는 보통 i를 쓰고, list에서 가져올 때는 다른 변수명 사용하면 명확함\nfile_csv_2 = []\nfor name in file_list:\n    # 이때 i에 들어오는 데이터: 문자열\n    if name.endswith('csv') == True:\n        file_csv_2.append(name)\nfile_csv_2",
  '# 함수\n# 특정한 행동을 코드로 표현하고 이름 붙이는 작업\n# 특정 입력값을 통해서 연산을 하고 결과를 되돌려주는 작업\n# python에서 def 키워드를 이용해서 함수를 생성\ndef func_1():\n    #결과 되돌려준다\n    return "Hello"\n\ndef func_2():\n    print(\'Hello\')',
  'res_1 = func_1()',
  'res_2 = func_2()',
  'res_1',
  'res_2',
  "# 매개변수가 존재하지 않는 함수에 입력값을 사용해서 호출 한다면?\n# 입력값을 저장할 수 있는 공간이 존재하지 않기 때문에 에러가 발생\n# func_1('a')",
  '# 매개변수가 존재하는 함수 생성\ndef func_3(a, b):\n    c = a + b\n    return c',
  'func_3(10, 5)\n# a = 10\n# b = 5\n# c = 10 + 5\n# c를 되돌려준다.',
  '# 매개변수가 2개인 함수를 호출하면서 인자를 1개만 입력하는 경우?\n# 데이터가 입력되는 공간이 2개인데 데이터는 1개만 입력하면 나머지 하나의 공간에 데이터가 없으므로 에러\n# func_3(10)',
  "# print() : 입력 데이터를 출력하는 기능\nprint('a', 'b', 'c')",
  "# sep 매개변수에 입력 데이터를 대입하려면 매개변수명 = data\n# 첫번째 매개변수가 가변의 인자를 받는 형태이기때문에\nprint('a', 'b', 'c', sep = '\\n')\n\n\n# print 함수 위에 마우스 대면 나오는 정보들 - 매개변수 정보 확인\n# 매개 변수 바꿀 수 있음\n# 이미 '='로 되어있는건 따로 설정 안 했을 때 기본값\n# '=' 없는 매개변수는 필수로 넣어주어야하는 부분\n# sep은 문자 사이에 뭘 넣을건지.",
  'def func_4(a, b = 5):\n    # 매개변수는 2개 a, b\n    # a는 함수를 호출할 때 필수 입력 공간\n    # b는 선택 입력 공간\n    c = a ** b\n    return c',
  'func_4(2)\n# a = 2\n# b = 5\n# c = 2 ** 5\n# 32를 되돌려준다',
  'func_4(2,4)\n# a = 2\n# b = 5\n# b = 4\n# c = 2 ** 4\n# 16을 되돌려준다.',
  '# 모든 영역에서 사용할 수 있는 변수의 목록 확인\nglobals()'],
 'Out': {3: False,
  6: True,
  7: '  hello, world  ',
  8: False,
  9: 'Hello, world  ',
  10: '  hELLO, WORLD  ',
  11: '  Hello, World  ',
  12: ['Hello,', 'world'],
  13: ['  Hello', ' world  '],
  14: '  Hi, world  ',
  17: '$10.00$20.00',
  19: '10.00',
  20: 30.0,
  21: int,
  24: 1000,
  26: False,
  30: True,
  31: ['a', 'b', 'c', 'd'],
  32: ['a', 'b', 'c'],
  34: True,
  35: True,
  36: True,
  37: True,
  38: True,
  39: True,
  42: False,
  45: True,
  46: '  hello, world  ',
  47: False,
  48: 'Hello, world  ',
  49: '  hELLO, WORLD  ',
  50: '  Hello, World  ',
  51: ['Hello,', 'world'],
  52: ['  Hello', ' world  '],
  53: '  Hi, world  ',
  56: '$10.00$20.00',
  58: '10.00',
  59: 30.0,
  60: int,
  63: 1000,
  65: False,
  69: True,
  70: ['a', 'b', 'c', 'd'],
  71: ['a', 'b', 'c'],
  73: True,
  74: True,
  75: True,
  76: True,
  77: True,
  78: True,
  81: True,
  82: True,
  83: True,
  84: False,
  86: ['/csv/a.csv', '/csv/c.csv'],
  87: ['/csv/a.csv', '/csv/c.csv'],
  91: 'Hello',
  95: 15,
  100: 32,
  101: 16},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x10b931be0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x10b9dd6a0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x10b9dd6a0>,
 'open': <function _io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': 16,
 '__': 32,
 '___': 15,
 '__vsc_ipynb_file__': '/Users/eunseo/Documents/data_boot/lecture/code/week1/03_base_250828.ipynb',
 '_i': 'func_4(2,4)\n# a = 2\n# b = 5\n# b = 4\n# c = 2 ** 4\n# 16을 되돌려준다.',
 '_ii': 'func_4(2)\n# a = 2\n# b = 5\n# c = 2 ** 5\n# 32를 되돌려준다',
 '_iii': 'def func_4(a, b = 5):\n    # 매개변수는 2개 a, b\n    # a는 함수를 호출할 때 필수 입력 공간\n    # b는 선택 입력 공간\n    c = a ** b\n    return c',
 '_i1': '# func_7() 함수를 호출하는데 입력 데이터가 리스트인 경우\n# 인자에 *를 쓰는 경우\nfunc_7(*[2, 3, 4])',
 '_i2': "text_a = 'Apple'\ntext_b = 'apple'",
 'text_a': 'APPLE',
 'text_b': 'APPLE',
 '_i3': 'text_a == text_b',
 '_3': False,
 '_i4': "# text_a와 text_b를 비교했을 때 같다 라는 결과를 만들려면\n# 두개의 데이터의 형태를 같게 만든다.\n\n# text_a.upper()\n#'문자열' '안에있는' upper 함수\n# 앞에있는 문자열을 바꿔줌\n# 함수만 썼을 때 출력이 됐으므로 text_a는 안바뀜\n\ntext_a = text_a.upper()\n# 제대로 실행은 됐는데 뭐가 안나옴 -> 메모리 상의 데이터가 변함",
 '_i5': 'text_b = text_b.upper()',
 '_i6': 'text_a == text_b',
 '_6': True,
 '_i7': "text_c = '  Hello, world  '\ntext_c.lower()",
 'text_c': '  Hello, world  ',
 '_7': '  hello, world  ',
 '_i8': "# 좌우에 공백있는 str\ntext_c == 'Hello, world'",
 '_8': False,
 '_i9': 'text_c.lstrip()',
 '_9': 'Hello, world  ',
 '_i10': 'text_c.swapcase()',
 '_10': '  hELLO, WORLD  ',
 '_i11': 'text_c.title()',
 '_11': '  Hello, World  ',
 '_i12': 'text_c.split()',
 '_12': ['Hello,', 'world'],
 '_i13': "text_c.split(',')",
 '_13': ['  Hello', ' world  '],
 '_i14': "text_c.replace('Hello', 'Hi')",
 '_14': '  Hi, world  ',
 '_i15': 'print(text_c.strip())\nprint(text_c.lstrip())\n#print 사용하면 헷갈림',
 '_i16': "# 문자열을 숫자형으로 변환\n# 금액을 숫자로 변경하여 계산\nprice_1 = '$10.00'\nprice_2 = '$20.00'",
 'price_1': 10.0,
 'price_2': 20,
 '_i17': 'price_1 + price_2',
 '_17': '$10.00$20.00',
 '_i18': "# error : '$'를 숫자로 변경이 불가능하기 때문에\n# float(price_1)",
 '_i19': "price_1.strip('$')",
 '_19': '10.00',
 '_i20': "price_1 = float(price_1.strip('$'))\nprice_2 = float(price_2.strip('$'))\n# price_2\nprice_1 + price_2",
 '_20': 30.0,
 '_i21': 'price_2 = int(price_2)\ntype(price_2)',
 '_21': int,
 '_i22': "price_3 = '1,000원'\nprice_4 = '3,000원'",
 'price_3': '1,000원',
 'price_4': '3,000원',
 '_i23': "#문자열 마지막의 '원'문자를 제거\n# int(price_3.rstrip('원'))\n# ','도 특수문자이므로 error",
 '_i24': "# strip() 함수는 문자의 시작과 끝의 데이터를 제거하는 용도\n# 문자열 사이에 있는 문자를 변경 X\n# replace() : 특정문자를 치환 -> 문자를 변경, 문자를 제거\n\nint(price_3.replace(',', '').rstrip('원'))",
 '_24': 1000,
 '_i25': "item_1 = '상품A'\nitem_2 = '상품a'\nitem_3 = '상 품 a'",
 'item_1': '상품A',
 'item_2': '상품A',
 'item_3': '상품A',
 '_i26': '(item_1 == item_2) and (item_2 == item_3)',
 '_26': False,
 '_i27': '# item_1을 기준으로 item_2, item_3 데이터를 변경\n# item_2 = ~ 작성하기 전에, 원하는대로 upper() 잘 되는지 확인되는지 확인 하고 변수에 넣기\nitem_2 = item_2.upper()',
 '_i28': 'item_3 = item_3.upper()',
 '_i29': "item_3 = item_3.replace(' ', '')",
 '_i30': '(item_1 == item_2) and (item_2 == item_3)',
 '_30': True,
 '_i31': "# 문자열을 나눠주는 함수 -> split\n# 공백을 기준으로 문자를 나눠주는 함수\n# 인자로 특정 문자를 입력하면 특정 문자로 문자를 나눠준다\ntext_1 = 'a b c d'\ntext_1.split()",
 'text_1': 'a b c d',
 '_31': ['a', 'b', 'c', 'd'],
 '_i32': "text_2 = 'ammbmmc'\ntext_2.split('mm')",
 'text_2': 'ammbmmc',
 '_32': ['a', 'b', 'c'],
 '_i33': '# sql query문\nquery_1 = "select * from table"\nquery_2 = "SELECT * FROM table"\nquery_3 = """\n    INSERT INTO\n    table\n    VALUES\n    (\'a\')\n"""\nquery_4 = \'\'\'\n    select\n    *\n    from\n    table\n\'\'\'',
 'query_1': 'select * from table',
 'query_2': 'SELECT * FROM table',
 'query_3': "\n    INSERT INTO\n    table\n    VALUES\n    ('a')\n",
 'query_4': '\n    select\n    *\n    from\n    table\n',
 '_i34': "#query가 select문인가?\nfind_word = 'select'\nquery_1[ 0 : len(find_word) ] == find_word",

In [103]:
text_a

'APPLE'

In [104]:
globals()['text_a']
#glocals() 자체가 dict임
#dict하면 key값과 value 떠올리기

'APPLE'

In [105]:
# 반복문을 이용해서 전역변수를 생성
for i in range(3, 10, 2):
    # globals()를 이용하여 전역 변수 생성
    globals()[f'a{i}'] = i

In [106]:
a3

3

In [107]:
a5

5

In [108]:
a7

7

In [109]:
a9

9

In [110]:
# 지역 변수 확인
def func_5(input_a, input_b):
    func_res = input_a + input_b
    return func_res
res_3 = func_5(20, 1)

# 세로 라인마다 하나의 지역인거임.
# 맨 앞에 있는 세로선 기준의 변수들이 전역변수

In [111]:
print(res_3)
# func_res, input_a 는 지역변수이므로 전역에서는 사용이 불가능
# print(func_res)
# print(input_a)

21

In [112]:
# 변수 생성
a = b = c = 10
print(a, b, c)

10 10 10

In [113]:
d, e, f = 3, 'A', True
print(d, e, f)

3 A True

In [114]:
# return data가 2개 이상인 경우
def func_6(a, b):
    c = a + b
    d = a - b
    return c, d

In [115]:
func_6(10, 3)

(13, 7)

In [116]:
res_4 = func_6(10, 3)
res_4

(13, 7)

In [117]:
# return이 여러개인 함수를 쓸 때는 앞에 변수를 여러개 설정해주면 각각 들어감. 예를들어 train_test_split
res_5, res_6 = func_6(10, 3)
res_5

13

In [118]:
# 인자의 개수가 가변인 경우
# * 은 매개변수의 개수를 가변으로 만드는 거임
def func_7(*args):
    # 함수 내에서는 * 안써도 됨
    # args의 타입?
    print(type(args))

func_7(2, 3, 4)

<class 'tuple'>

In [119]:
# 인자의 개수가 가변인 경우
def func_7(*args):
    # 인자의 누적합 구해서 되돌려주는 기능
    result = 0
    for i in args:
        result += i
    return result

func_7(2, 3, 4)

9

In [120]:
# 인자의 개수가 가변인 경우
def func_7(*args):
    # 인자의 누적합 구해서 되돌려주는 기능
    result = 0
    for i in args:
        result += i
        # 만약 아래와 같이 return이 반복문 안에 있다 -> return 되자마자 함수 종료. for문도 당연히 종료
        return result

func_7(2, 3, 4)

2

In [121]:
def func_8(args):
    result = 0
    for i in args:
        result += i
    return result

In [122]:
func_8([2, 3, 4])

9

In [123]:
# func_7() 함수를 호출하는데 입력 데이터가 리스트인 경우
# 인자에 *를 쓰는 경우
func_7(*[2, 3, 4])

2

In [124]:
# 인자의 개수가 가변인 매개변수와 개수가 1개인 매개변수가 존재하는 함수
def func_9(*args, data):
    result = 0
    #data가 1이라면 누적합을 되돌려주고
    if data == 1:
        result = 0
        for i in args:
            result += i
    # data가 0이라면 누적곱을 되돌려준다.
    if data == 0:
        result = 1
        for i in args:
            result *= i
    return result

In [125]:
func_9(1, 2, 3, 4, 5, data = 1)

15

In [126]:
# 매개변수에 기본값이 설정이 되어있는 함수
def func_10(a, b = 2, c = 3):
    # 매개변수는 3개: a는 필수 입력 / b, c는 선택 입력
    # 인자의 개수가 1개, 2개, 3개 모두 호출이 가능
    result = (a + b) ** c
    return result

In [127]:
print(func_10(3))
print(func_10(5,1))
print(func_10(3, 1, 1))

125
216
4

In [128]:
# func_10에서 b매개변수는 기본값을 사용하고 c의 매개변수에는 새로운 입력값을 사용
func_10(3, c=2)

25

In [129]:
# 함수를 생성시 매개변수의 기본값을 설정하려면
# 가장 뒤의 매개변수부터 기본값을 설정
# 중간의 매개변수에만 기본값을 설정하면 에러가 발생
# def func_11(a, b = 2, c):
#     result = a + b + c
#     return result

### 연습
- 함수를 생성
    - 매개변수 2개
        - _datas : 인자의 개수가 가변인 매개변수
        - _type : 기본값이 설정 ('max')
    -_type이 'max'라면 _datas 중 가장 큰 값을 되돌려준다.
    -_type이 'min'라면 -datas 중 가장 작은 값을 되돌려준다.
    -_type이 'mean'이라면 _datas 들의 평균을 되돌려준다.
    - 위에 3가지의 경우가 아니라면 "_type이 맞지 않습니다."를 되돌려준다.

In [130]:
# 보통 입력받은 변수는 input_변수 또는 _변수 로 작성한다.
# 내가 작성

def func_11(*_datas, _type = 'max'):
    data_list = []
    for num in _datas:
        data_list.append(num)

    if _type == 'max':
        result = max(data_list)

    elif _type == 'min':
        result = min(data_list)

    elif _type == 'mean':
        sum = 0 
        for i in data_list:
            sum += i
            result = sum / len(data_list)

    else:
        print("_type이 맞지 않습니다.")

    return result

func_11(1, 2, 3, 4, _type = 'mean')

2.5

In [131]:
def func_11(*_datas, _type = 'max'):

    if _type == 'max':
        result = max(_datas)

    elif _type == 'min':
        result = min(_datas)

    elif _type == 'mean':
        result = sum(_datas) / len(_datas)

    else:
        result = "_type이 맞지 않습니다."

    return result

func_11(1, 2, 3, 4, _type = 'min')

1

In [132]:
func_11(1, 2, 3, 4, 5)

5